@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Font Sizes */
  --font-size-heading1-bold: 36px;
  --font-size-heading1-semibold: 36px;
  --font-size-heading2-bold: 30px;
  --font-size-heading2-semibold: 30px;
  --font-size-heading3-bold: 24px;
  --font-size-heading4-medium: 20px;
  --font-size-body-bold: 18px;
  --font-size-body-semibold: 18px;
  --font-size-body-medium: 18px;
  --font-size-body-normal: 18px;
  --font-size-body1-bold: 18px;
  --font-size-base-regular: 16px;
  --font-size-base-medium: 16px;
  --font-size-base-semibold: 16px;
  --font-size-base1-semibold: 16px;
  --font-size-small-regular: 14px;
  --font-size-small-medium: 14px;
  --font-size-small-semibold: 14px;
  --font-size-subtle-medium: 12px;
  --font-size-subtle-semibold: 12px;
  --font-size-tiny-medium: 10px;
  --font-size-x-small-semibold: 7px;

  /* Colors */
  --color-primary-500: #877eff;
  --color-secondary-500: #ffb620;
  --color-blue: #0095f6;
  --color-logout-btn: #ff5a5a;
  --color-navbar-menu: rgba(16, 16, 18, 0.6);
  --color-dark-1: #000000;
  --color-dark-2: #121417;
  --color-dark-3: #101012;
  --color-dark-4: #1f1f22;
  --color-light-1: #ffffff;
  --color-light-2: #efefef;
  --color-light-3: #7878a3;
  --color-light-4: #5c5c7b;
  --color-gray-1: #697c89;
  --color-glassmorphism: rgba(16, 16, 18, 0.6);

  /* Screens */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;
}

/* Main Container */
.main-container {
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark-1);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.5rem;
  padding-top: 7rem;
}

@media (width < --breakpoint-md) {
  .main-container {
    padding-bottom: 8rem;
  }
}

@media (width >= --breakpoint-sm) {
  .main-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* Head Text */
.head-text {
  font-size: var(--font-size-heading2-bold);
  font-weight: 700;
  color: var(--color-light-1);
}

/* Activity Card */
.activity-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  background-color: var(--color-dark-2);
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* No Result */
.no-result {
  text-align: center;
  font-size: var(--font-size-base-regular);
  font-weight: 400;
  color: var(--color-light-3);
}

/* Community Card */
.community-card {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-dark-3);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (width >= --breakpoint-sm) {
  .community-card {
    width: 24rem;
  }
}

.community-card_btn {
  border-radius: 0.5rem;
  background-color: var(--color-primary-500);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: var(--font-size-small-regular);
  font-weight: 400;
  color: var(--color-light-1);
}

/* Thread Card Bar */
.thread-card_bar {
  position: relative;
  margin-top: 0.5rem;
  width: 0.125rem;
  flex: 1 1 auto;
  border-radius: 9999px;
  background-color: #262626;
}

/* User Card */
.user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

@media (width < --breakpoint-xs) {
  .user-card {
    border-radius: 0.75rem;
    background-color: var(--color-dark-3);
    padding: 1rem;
  }
}

@media (width >= --breakpoint-xs) {
  .user-card {
    flex-direction: row;
    align-items: center;
  }
}

.user-card_avatar {
  display: flex;
  flex: 1 1 0%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}

@media (width >= --breakpoint-xs) {
  .user-card_avatar {
    align-items: center;
  }
}

.user-card_btn {
  height: auto;
  min-width: 74px;
  border-radius: 0.5rem;
  background-color: var(--color-primary-500);
  font-size: 12px;
  color: var(--color-light-1);
}

/* Searchbar */
.searchbar {
  display: flex;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background-color: var(--color-dark-3);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.searchbar_input {
  border: none;
  background-color: var(--color-dark-3);
  font-size: var(--font-size-base-regular);
  font-weight: 400;
  color: var(--color-light-4);
  outline: none;
}

/* Topbar */
.topbar {
  position: fixed;
  top: 0;
  z-index: 30;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-2);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* Bottombar */
.bottombar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: var(--color-glassmorphism);
  padding: 1rem;
  backdrop-filter: blur(12px);
}

@media (width >= --breakpoint-xs) {
  .bottombar {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

@media (width >= --breakpoint-md) {
  .bottombar {
    display: none;
  }
}

.bottombar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

@media (width >= --breakpoint-xs) {
  .bottombar_container {
    gap: 1.25rem;
  }
}

.bottombar_link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@media (width >= --breakpoint-sm) {
  .bottombar_link {
    flex: 1 1 0%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
}

/* Left Sidebar */
.leftsidebar {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 20;
  display: flex;
  height: 100vh;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--color-dark-4);
  background-color: var(--color-dark-2);
  padding-bottom: 1.25rem;
  padding-top: 7rem;
}

@media (width < --breakpoint-md) {
  .leftsidebar {
    display: none;
  }
}

.leftsidebar_link {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* Pagination */
.pagination {
  margin-top: 2.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

/* Right Sidebar */
.rightsidebar {
  position: sticky;
  right: 0;
  top: 0;
  z-index: 20;
  display: flex;
  height: 100vh;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  overflow: auto;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--color-dark-4);
  background-color: var(--color-dark-2);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1.5rem;
  padding-top: 7rem;
}

@media (width < --breakpoint-xl) {
  .rightsidebar {
    display: none;
  }
}

/* Utilities */
.css-invert {
  filter: invert(50%) brightness(200%);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #09090a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

/* Clerk Responsive Fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer,
.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  display: none;
}

@media (width >= --breakpoint-sm) {
  .cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer,
  .cl-organizationSwitcherTrigger
    .cl-organizationPreview
    .cl-organizationPreviewTextContainer {
    display: block;
  }
}

/* Tab Component */
.tab {
  display: flex;
  min-height: 50px;
  flex: 1 1 0%;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--color-dark-2);
  color: var(--color-light-2);
}

.tab[data-state="active"] {
  background-color: #0e0e12;
  color: var(--color-light-2);
}

/* No Focus */
.no-focus:focus-visible {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

/* Account Form Image Label */
.account-form_image-label {
  display: flex;
  height: 6rem;
  width: 6rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: var(--color-dark-4);
}

/* Account Form Image Input */
.account-form_image-input {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.account-form_image-input::file-selector-button {
  color: var(--color-blue);
}

/* Account Form Input */
.account-form_input {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-dark-4);
  background-color: var(--color-dark-3);
  color: var(--color-light-1);
}

/* Comment Form */
.comment-form {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: var(--color-dark-4);
  border-bottom-color: var(--color-dark-4);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (width < --breakpoint-xs) {
  .comment-form {
    flex-direction: column;
  }
}

/* Comment Form Button */
.comment-form_btn {
  border-radius: 1.5rem;
  background-color: var(--color-primary-500);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--font-size-small-regular);
  font-weight: 400;
  color: var(--color-light-1);
}

@media (width < --breakpoint-xs) {
  .comment-form_btn {
    width: 100%;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
